In [2]:
import pandas as pd
google = pd.read_csv("Google_Stock_Price.csv", squeeze=True)

0       324.97
1       329.08
2       326.89
3       323.68
4       309.46
5       307.30
6       309.40
7       312.08
8       309.37
9       311.67
10      309.90
11      314.55
12      289.76
13      290.49
14      287.92
15      282.13
16      281.22
17      283.60
18      285.63
19      286.50
20      288.49
21      289.95
22      292.93
23      295.90
24      300.75
25      301.24
26      303.36
27      300.87
28      303.87
29      301.25
         ...
1228    764.23
1229    760.00
1230    760.60
1231    767.00
1232    755.25
1233    760.52
1234    759.80
1235    768.24
1236    754.83
1237    737.03
1238    743.10
1239    752.90
1240    757.34
1241    755.80
1242    767.23
1243    779.02
1244    784.35
1245    793.34
1246    794.01
1247    792.92
1248    790.29
1249    786.27
1250    793.27
1251    787.10
1252    788.58
1253    787.28
1254    787.66
1255    783.20
1256    778.92
1257    770.41
Name: Stock_Price, Length: 1258, dtype: float64

In [11]:
def classify_par(number):
    if number < 300:
        return "ok"
    elif number >300 and number <= 650:
        return "Satisficatory"
    else:
        return "Incredible"

In [12]:
google.apply(classify_par)

0       Satisficatory
1       Satisficatory
2       Satisficatory
3       Satisficatory
4       Satisficatory
5       Satisficatory
6       Satisficatory
7       Satisficatory
8       Satisficatory
9       Satisficatory
10      Satisficatory
11      Satisficatory
12                 ok
13                 ok
14                 ok
15                 ok
16                 ok
17                 ok
18                 ok
19                 ok
20                 ok
21                 ok
22                 ok
23                 ok
24      Satisficatory
25      Satisficatory
26      Satisficatory
27      Satisficatory
28      Satisficatory
29      Satisficatory
            ...
1228       Incredible
1229       Incredible
1230       Incredible
1231       Incredible
1232       Incredible
1233       Incredible
1234       Incredible
1235       Incredible
1236       Incredible
1237       Incredible
1238       Incredible
1239       Incredible
1240       Incredible
1241       Incredible
1242       Incredible
1243       Incredible
1244       Incredible
1245       Incredible
1246       Incredible
1247       Incredible
1248       Incredible
1249       Incredible
1250       Incredible
1251       Incredible
1252       Incredible
1253       Incredible
1254       Incredible
1255       Incredible
1256       Incredible
1257       Incredible
Name: Stock_Price, Length: 1258, dtype: object

In [13]:
google.apply(classify_par).tail()

1253    Incredible
1254    Incredible
1255    Incredible
1256    Incredible
1257    Incredible
Name: Stock_Price, dtype: object