In [3]:
import pandas as pd
pokemon = pd.read_csv("F:\My Training\Machine Learning knowledge shelf\Pandas\Practice\Pandas\Datasets\data for panda exercise.csv",squeeze=True, usecols=["Student Name"])
print(pokemon)

0                        Abdul Basit
1                        Adeel Ahmed
2                       Afrah Zareen
3                     Ahmed Ali Raza
4                    Ahsan Ali Vohra
5                        Ameer Hamza
6                      Anas Ali Khan
7                   Aneebullah Niazi
8                     Areesha Sohail
9                            Arsalan
10               Fatima Haider Warsi
11                       Habib Ullah
12               Hafiza Tooba Akbani
13                Hamza Abdul Jabbar
14                     Hareem Afshan
15                      Haseeb Sajid
16                      Hassam Ahmed
17                      Khalid Anwer
18                     Madiha Jabeen
19                   Mohammad Hunain
20                    Muhammad Aamir
21    Muhammad Abdul Rehman Siddiqui
22                 Muhammad Abdullah
23                Muhammad Ali Iqbal
24                    Muhammad Bilal
25                    Muhammad Faraz
26           Muhammad Ghazali Faridi
27               Muhammad Osama Khan
28            Muhammad Saqib Intizar
29         Muhammad Shahroz Khurshid
30                   Muhammad Shozab
31             Muhammad Taha Hasnain
32             Muhammad Wajahat Khan
33              Muhammad Younus Baig
34                  Nazeer Bin Zafar
35                        Rabi Ahmed
36                        Rida Nasim
37                     Sadaf Nosheen
38                  Sadaquat Rafique
39                       Sania Iqbal
40                       Sharif Taqi
41                     Shariqa Ahmad
42                     Sumbul Rehman
43                 Syed Faizan Uddin
44                       Syed Sohaib
45                 Syeda Sabika Raza
46                        Usman Khan
47                       Waqar Ahmed
Name: Student Name, dtype: object

In [6]:
pokemon.sort_values().head(10)

0         Abdul Basit
1         Adeel Ahmed
2        Afrah Zareen
3      Ahmed Ali Raza
4     Ahsan Ali Vohra
5         Ameer Hamza
6       Anas Ali Khan
7    Aneebullah Niazi
8      Areesha Sohail
9             Arsalan
Name: Student Name, dtype: object

In [7]:
pokemon.sort_values(ascending=False).head(10)

47          Waqar Ahmed
46           Usman Khan
45    Syeda Sabika Raza
44          Syed Sohaib
43    Syed Faizan Uddin
42        Sumbul Rehman
41        Shariqa Ahmad
40          Sharif Taqi
39          Sania Iqbal
38     Sadaquat Rafique
Name: Student Name, dtype: object

In [8]:
pokemon.sort_values(ascending=False).tail(10)

9             Arsalan
8      Areesha Sohail
7    Aneebullah Niazi
6       Anas Ali Khan
5         Ameer Hamza
4     Ahsan Ali Vohra
3      Ahmed Ali Raza
2        Afrah Zareen
1         Adeel Ahmed
0         Abdul Basit
Name: Student Name, dtype: object

In [12]:
google = pd.read_csv("F:\My Training\Machine Learning knowledge shelf\Pandas\Practice\Pandas\Datasets\student_results.csv", squeeze = True)
google.head(10)

google.sort_values()

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10,2,9,3,5,50
1,1002,10,6,8,2,0,80
2,1003,10,3,8,2,4,60
3,1004,11,0,10,1,5,45
4,1005,11,4,7,2,0,75
5,1006,11,10,7,0,0,96
6,1007,12,4,6,0,0,80
7,1008,12,10,6,2,0,90
8,1009,12,2,8,2,4,60
9,1010,12,6,9,1,0,85